body {
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    font-family: 'Manrope', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', arial, sans-serif, 'Apple Color Emoji';
}
.wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    scroll-behavior: smooth;
}
header {
    height: 104px;
    background-color: #f6f7f8;
    position: sticky;
    top: 0;
}
#header-wrapper, #footer-wrapper {
    display: flex;
    padding: 30px 7.5%;
    align-items: center;
}
.header-left {
    flex: 3 0;
    display: flex;
    justify-content: flex-start;
}
.header-center {
    flex: 3 0;
    display: grid;
    height: 48px;
}
.header-right {
    flex: 1.5 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-far-right {
    flex: 1.5 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#header-logo {
    width: 190px;
    height: 35px;
}
.header-search {
    font-size: 18px;
    padding: 1px 20px;
    border-radius: 9999px;
    border: none;
}
.header-search:focus {
    outline: gray solid 2px;
}
.header-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    text-decoration: none;
    min-width: 138px;
    border-radius: 9999px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 700;
    background-color: #61799b;
    color: #FFFFFF;
    transition: 0.2s;
}
.header-logout:visited {
    color: #FFFFFF;
}
.header-logout:hover {
    background-color: #476186;
}
/* .button-cart {
    height: 48px;
    border-radius: 9999px;
    min-width: 138px;
    background-color: #61799b;
    border: none;
    font-weight: 700;
    font-family: inherit;
    font-size: 18px;
    color: #FFFFFF;
    transition: background-color 0.2s;
}
.button-cart:hover {
    cursor: pointer;
    background-color: #61799b;
} */
footer {
    background-color: #071222;
    height: 100px;
}
.footer-content {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.footer-text {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 700;
}
.footer-left {
    flex: 1 0;
}
.footer-center {
    flex: 1 0;
}
.footer-right {
    flex: 1 0;
}
.page-content-wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}
.page-text {
    text-align: center;
    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 40px;
    padding: 2% 0;
}
.page-circle-icon {
    width: 180px;
}
.page-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 0px 50px 1px #797979;
    transition: .2s ease-in-out;
}
.circle-link {
    background-color: #61799b;
    border-radius: 100%;
    width: 22%;
    aspect-ratio: 1 / 1;
}
.circle-link:hover {
    background-color: #476186;
    transform: scale(1.05);
}
.page-circle-text {
    padding-top: 20px;
    color: white;
    font-size: 25px;
}
.category-text {
    text-align: center;
    padding-top: 0;
}
.categoty-icon {
    width: 100px;
}